<p><strong>1 Jul 2024</strong>—initial:</p>
<h3>BRenaissance Periodisation</h3>
<h5>Disclaimer: <i>Weigh selection is dependent on fitness
    target.</i></h5>

<ul>
    <li>
        <p><b>SUPERSET 1</b></p>
    </li>
    <ul>
        <li>Pushup - <strong>12 then 10 Reps</strong></li>
        <li>Dumbbell Bent-over Row - (75% of 1RM) <strong>14 then 10 Reps</strong></li>
    </ul>
    <li>
        <p><b>SUPERSET 2</b></p>
    </li>
    <ul>
        <li>Dumbbell Lateral Raise - <strong>15 then 9 Reps</strong></li>
        <li>Squat - (50% of 1RM) <strong>12 then 10 Reps</strong></li>
    </ul>
    <li>
        <p><b>SUPERSET 3</b></p>
    </li>
    <ul>
        <li>Flatbench Dumbbell Curl - <strong>12 then 10 Reps</strong></li>
        <li>Dumbbell Skullcrusher - <strong>12 then 10 Reps</strong></li>
        <li>Dumbbell Stiff Leg Deadlift - <strong>10 then 8 Reps</strong></li>
    </ul>
</ul>
