<p><strong>1 Jul 2024</strong> initial: </p>
<h3>Credits: Dr. Mike - Renaissance Periodisation</h3>
<h5>Disclaimer: <i>Weigh selection is dependent to your training style or fitness target.</i></h5>
<ul>
<li><p>SUPERSET 1</p></li>
<ul>Pushup - 12 then 10 Reps</ul>
<ul>Dumbbell Bent-over Row - (75% of 1RM) 14 then 10 Reps</ul>
<li><p>SUPERSET 2</p></li>
<ul>Dumbbell Lateral Raise - 15 then 9 Reps</ul>
<ul>Squat - (50% of 1RM) 12 then 10 Reps</ul>
<li><p>SUPERSET 3</p></li>
<ul>Flatbench Dumbbell Curl - 12 then 10 Reps</ul>
<ul>Dumbbell Skullcrusher - 12 then 10 Reps</ul>
<ul>Dumbbell Stiff Leg Deadlift  - 10 then 8 Reps</ul>
</ul>

