<p><strong>27.Feb-27.May</strong>—last revision: <strong>27 Feb</strong></p>
<h2><strong>50-75% weight of P1</strong></h2>
<ul>
    <li><em>Triggers</em>—<strong>3 Sets X 12 Reps</strong>
        <ul>
            <li>Incline Dumbbell Fly - Push - Isolated - Chest</li>
            <li>Incline Bench Press - Push - Compound - Upper Chest - <strong>Staple</strong></li>
            <li>Skull Crusher - Push - Isolated - Triceps</li>
            <li>Dumbbell Lateral Raise - Pull - Isolated - Side Delt</li>
        </ul>
    </li>
    <li><em>Auxillary</em>—<strong>3 Sets X 12 Reps</strong>
        <ul>
            <li><em>Weighted Calf Raises - Push - Isolated - Calf</em>
                <blockquote>
                    <ul>
                        <li>Barbell Good Morning - Pull - Isolated - Hamstrings <br /></li>
                        <li>Barbell Overhead Press - Push - Compound - Front Delt - <strong>Staple</strong></li>
                    </ul>
                </blockquote>
            </li>
            <li>Barbell Squat - Push - Compound - Quads - <strong>Staple</strong></li>
            <li>Barbell Rows - Pull - Compound - Back - <strong>Staple</strong></li>
            <li>Lat Pulldowns - Pull - Compound - Lats - <strong>Staple</strong>
                <blockquote>
                    <ul>
                        <li>Bodyweight Pull Up - Pull - Compound - Lats - <strong>Staple</strong> <br /></li>
                        <li>Triceps Dip - Push - Compound - Tricep - <strong>Staple</strong></li>
                        <li>Cable Standing Rear Delt Row - Pull - Compound - Rear Delt - <strong>Staple</strong></li>
                        <li>Cable One Arm Rear Lateral Raise - Pull - Isolated - Rear Delt - <strong>Staple</strong>
                        </li>
                    </ul>
                </blockquote>
            </li>
            <li>Cable Hammer Curls - Pull - Isolated - Brachioradialis</li>
            <li>Incline Sit-up - Pull - Compound - Abs</li>
        </ul>
    </li>
    <li><em>Specialised</em>—<strong>3 Sets X 10 Reps</strong>
        <ul>
            <li>Weighted Back Raise - Pull - Compound - Hamstrings</li>
            <li>Weighted / Cable / Dumbbell Side Bend - Pull - Isolated - Obliques</li>
            <li>Overhead Carry - Push - Compound - Back - <strong>Staple</strong></li>
        </ul>
    </li>
</ul>
<h2 id="functional"><strong>Functional</strong></h2>
<ul>
    <li><em>Triggers</em>—<strong>3 Sets X 8 Reps</strong> <sup>(<strong>3 Sets X 5-10 Reps</strong>)
        </sup>
        <ul>
            <li>Dumbbell Fly - Push - Isolated - Chest</li>
            <li>Bench Press - Push - Compound - Chest - <strong>Staple</strong></li>
            <li>Dumbbell Pullover - Push/Pull - Isolated - Chest/Lats</li>
        </ul>
    </li>
    <li><em>Auxillary</em>—<strong>3 Sets X 6 Reps</strong> <sup>(<strong>3 Sets X 5-10 Reps</strong>)
        </sup>
        <ul>
            <li><em>Weighted Calf Raises - Push - Isolated - Calf</em></li>
            <li>Barbell Curls - Pull - Isolated - Bicep</li>
            <li>Barbell Overhead Press - Push - Compound - Front Delt - <strong>Staple</strong></li>
            <li>Romanian Deadlift - Pull - Compound - Hip - <strong>Staple</strong></li>
            <li>Deadlifts - Pull - Compound - Glute - <strong>Staple</strong></li>
            <li>Lat Pulldowns - Pull - Compound - Lats - <strong>Staple</strong>
                <blockquote>
                    <ul>
                        <li>Bodyweight Pull Up - Pull - Compound - Lats - <strong>Staple</strong> <br /></li>
                        <li>Triceps Dip - Push - Compound - Tricep - <strong>Staple</strong></li>
                    </ul>
                </blockquote>
            </li>
            <li>Cable Standing Rear Delt Row - Pull - Compound - Rear Delt - <strong>Staple</strong></li>
            <li>Cable Wide Grip Seated Row - Pull - Compound - Back</li>
            <li>Incline Sit-up - Pull - Compound - Abs</li>
        </ul>
    </li>
    <li><em>Specialised</em>—<strong>4 Sets X 6 Reps</strong> <sup>(<strong>3 Sets X 5-10 Reps</strong>)
        </sup>
        <ul>
            <li>Weighted Back Raise - Pull - Compound - Hamstrings</li>
            <li>Weighted / Cable / Dumbbell Side Bend - Pull - Isolated - Obliques</li>
            <li>Suspended Single Leg Squat - Push - Compound - <strong>Staple</strong></li>
            <li>Side Split Squats - Push - Compound - Glute</li>
            <li>Ab Crunch - Pull - Isolated - Abs</li>
            <li>Reverse Crunch - Pull - Isolated - Abs</li>
            <li>Overhead Carry - Push - Compound - <strong>Staple</strong></li>
            <li>Kettlebell Windmill - Push - Isolated - <strong>3 Sets X 5 Reps</strong></li>
        </ul>
    </li>
</ul>